.nav {
  grid-area: n;
  padding: 20px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  border: 1px solid rgba(255, 255, 255, 0.33);
}
.item {
  color: white;
  text-decoration: none;
}
.active {
  color: gold;
  text-decoration: none;
}
.friends img {
  /* margin-top: 60px; */
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.friends {
  margin-top: 10px;
  display: block;
  margin-left: 10px;
}

.friendsSection {
  margin-top: 50px;
}
