.header {
  grid-area: h;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 196, 244, 1) 0%,
    rgba(178, 178, 232, 1) 35%,
    rgba(134, 183, 201, 1) 73%,
    rgba(0, 212, 255, 1) 100%
  );
}
.header img {
  width: 120px;
}