
.app-wrapper {
  display: grid;

  grid-template-areas:
    "h h"
    "n c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  border: 1px solid rgba(255, 255, 255, 0.33);
}