.app-wrapper {
  display: grid;
  

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
}
.header {
  grid-area: h;
  background-color: aqua;
}
.header img {
  width: 60px;
}
.nav {
  grid-area: n;
  background-color: bisque;
}
.content {
  grid-area: c;
  background-color: darkgray;
}