.dialogs {
    display: grid;
    grid-template-columns: 4fr 7fr 10fr;
}
.dialog {
    color: white;
    text-decoration:none;
    
}
.dialogsItems {
    padding: 20px;
}
.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */

}
.active {
    color: gold;
    text-decoration:none;
}
.messages {
    padding: 20px;
}
.messages .message {
}
